# Created by https://www.gitignore.io/api/fsharp
# Edit at https://www.gitignore.io/?templates=fsharp

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe

# End of https://www.gitignore.io/api/fsharp

/tmp

# web/
web/node_modules
web/dist
web/.astro
web/.wrangler
web/test-results
web/playwright-report
web/blob-report
